body,
html {
    height: 100%;
    width: 100vw;
    padding: 0;
    margin: 0;
    color: #ccc;
    background-color: #1e1e1e;
}

#app {
    width: 100%;
    height: 100%;
}

.base-page {
    width: 100%;
    height: 100%;
    color: #ccc;
    background-color: #1e1e1e;
}