#viewer {
    height: 100%;
    width: 100%;
    display: flex;

    #filters {
        position: absolute;
        top: 0;
        left: 0;
        width: 20%;
        @media (max-width: 640px) {
            width: 100%;
            flex-direction: column;
        }
    }

    #filtersCard {
        background-color: rgb(37, 37, 38, 0.8);
        color: #cccccc;
        max-height: 90vh;
        @media (max-width: 640px) {
            max-height: 75vh;
            flex-grow: 1;
        }
        input, select {
            background-color: #474747;
            border-color: #474747;
            color: #cccccc;
        }

        .section-filters {
            background-color: rgb(51, 51, 51, 0.8);
        }
    }

    .itemInformation {
        width: 20vw;
        color: black;
        @media (max-width: 640px) {
            width: 90%;
            height: 90%;
        }
    }

    .itemInformationIcons > div {
        display: flex;
    }

    #eurekaCanvasContainer {
        background-color: #1e1e1e;
    }

    #filterExpander>div {
        position: absolute;
        top: 5%;
        left: 0;
        width: 50px;
        height: 75px;
        background-color: rgb(51, 51, 51, 0.8);
        color: #cccccc;
        @media (max-width: 640px) {
            position: relative;
            width: 100%
        }
    }
}